<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="./bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="false">
    <include>
      <directory suffix=".php">../classes</directory>
    </include>
    <report>
      <html outputDirectory="coverage"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="EditBlockActivationForm">
      <file>src/forms-n-tables/EditBlockActivationFormTest.php</file>
    </testsuite>
    <testsuite name="EditBlockLogInForm">
      <file>src/forms-n-tables/EditBlockLogInFormTest.php</file>
    </testsuite>
    <testsuite name="EditBlockRecoveryForm">
      <file>src/forms-n-tables/EditBlockRecoveryFormTest.php</file>
    </testsuite>
    <testsuite name="EditBlockRegisterForm">
      <file>src/forms-n-tables/EditBlockRegisterFormTest.php</file>
    </testsuite>
    <testsuite name="ActivationInterface">
      <file>src/interfaces/ActivationInterfaceTest.php</file>
    </testsuite>
    <testsuite name="CheckRedirectTrait">
      <file>src/interfaces/CheckRedirectTraitTest.php</file>
    </testsuite>
    <testsuite name="EditUserMaterialInterface">
      <file>src/interfaces/EditUserMaterialInterfaceTest.php</file>
    </testsuite>
    <testsuite name="LogInInterface">
      <file>src/interfaces/LogInInterfaceTest.php</file>
    </testsuite>
    <testsuite name="RecoveryInterface">
      <file>src/interfaces/RecoveryInterfaceTest.php</file>
    </testsuite>
    <testsuite name="RegisterInterface">
      <file>src/interfaces/RegisterInterfaceTest.php</file>
    </testsuite>
    <testsuite name="Block_Activation">
      <file>src/semantic/BlockActivationTest.php</file>
    </testsuite>
    <testsuite name="Block_Login">
      <file>src/semantic/BlockLoginTest.php</file>
    </testsuite>
    <testsuite name="Block_Recovery">
      <file>src/semantic/BlockRecoveryTest.php</file>
    </testsuite>
    <testsuite name="Block_Register">
      <file>src/semantic/BlockRegisterTest.php</file>
    </testsuite>
    <testsuite name="Updater">
      <file>src/UpdaterTest.php</file>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
