.cms-block-users-register { background-color: #00f; color: white; }
.cms-block-users-register a { color: white; }
.cms-block-users-recovery { background-color: #f00; color: white; }
.cms-block-users-recovery a { color: white; }
.cms-block-users-login { background-color: #f80; color: white; }
.cms-block-users-login a { color: white; }
.cms-block-users-activation { background-color: #0f0; }
